<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
        <!-- CSS -->
    	<link th:href="@{/css/homebench.css}" rel="stylesheet" />
    </head>
    <body>

        <div class="wrapper">
            <header>
                <div id="mainmenu">
                    <ul>
                        <li class="leftmenu" ><a href="#home">Home</a></li>
                        <li class="leftmenu" ><a href="#news">News</a></li>
                        <li class="leftmenu" ><a href="#contact">Contact</a></li>
                        <li class="rightmenu" ><a  href="#about">About</a></li>
                    </ul>
                </div>
            </header>
            <main >
                
                <div id="sidemenu">
                    <ul>
                        <li>&nbsp;</li>
                        <li><a href="#link">Module 1</a></li>
                        <li><a href="#link">Module 2</a></li>
                        <li><a href="#link">Module 3</a></li>
                        <li><a href="#link">Module 4</a></li>
                    </ul>
                </div>
            
            
                <div id="maincontent">
                    <p>here goes the main content</p>
                </div>
           
            </main>
            <footer>I'm a 30px tall footer</footer>
        </div>
    </body>
</html>