<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>tpl_mainmenu</title>
	</head>
	
	<body>
		<div th:fragment="mainmenu" id="mainmenu">
			<ul>
                <li class="leftmenu" ><a href="/">Home</a></li>
                <li class="leftmenu" ><a href="#news">News</a></li>
                <li class="leftmenu" ><a href="#contact">Contact</a></li>
                <li class="rightmenu" ><a  href="#about">About</a></li>
            </ul>
		</div>
	</body>
</html>