<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>tpl_mainmenu</title>
	</head>
	
	<body>
		<div th:fragment="mainmenu" id="mainmenu">
            <ul >
                 <li class="leftmenu" th:each="menuEntry : ${main_menu}">
                 	<a th:href="${menuEntry.link}" th:text="${menuEntry.key}"></a>
                 </li>
                 <li class="rightmenu">DE <i class="fa-solid fa-globe"></i></li>
             </ul>
              
		</div>
	</body>
</html>